:root{
  --diam: 795px;
}

#background-container {
  position: absolute;
  width: 1250.4px;
  height: 1234.97px;
  right: -650px;
  top: -450px;
  transform: rotate(-17deg);
  z-index: 0;
}

.ellipse {
  border-radius: 50%;
  position: absolute;
  width: var(--diam);
  height: var(--diam);
  transform: rotate(-17deg);
}

.top-e{
  top: 0px;
  left: 343.5px;
  background: linear-gradient(17deg, #98255F 21.65%, rgba(30, 26, 28, 0.52) 70.64%);
}

.left-e{
  left: 0px;
  top: 301px;
  background: linear-gradient(251.89deg, #98255F 15.71%, rgba(30, 26, 28, 0.52) 80.03%);
}

.right-e{
  right: 0px;
  bottom: 0px;
  background: linear-gradient(156.67deg, #98255F 14.94%, rgba(30, 26, 28, 0.52) 62.89%);
}


