#refresh-main {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #C4C4C4;
}

#time{
  width: 27px;
  height: 24px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: right;

  color: #FFFFFF;
}

.refresh-container{
  position: absolute;
  top: 0px;
  right: 38px; 
  z-index: 1;
}