#left-table {
  position: relative;
  min-width: 748px;
  margin-right: 17px;
}

#right-table {
  position: relative;
  min-width: 748px;
  flex-grow: 1;
}

.tables-container {
  position: relative;
  left: -36px;
  width: calc(100% + 72px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: pink; */
}

.table-container{
  margin-top: 59px;
  display: inline-block;
  background-color: #26262C;
  height: 280px;
  padding-top: 27px;
  padding-left: 36px;
  padding-right: 35px;
}

table{
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  font-family: 'Montserrat';

  border-collapse: collapse;
  color: #E8E8E8;
  text-align: left;
  white-space: nowrap;
}


thead tr:first-child{
  border-bottom: 1px solid rgba(196, 196, 196, 1);
}

th {
  font-family: 'Source Serif Pro';
  font-weight: 400;
  line-height: 25px;
  color: #FAFAFA;
}

tbody tr:first-child td{
  padding-top: 23px;
}

td {
  font-style: normal;
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.right-align {
  text-align: right;
}

.blue-bar {
  background-color: #2066D2;
  width: 400px;
  height: 18px;

}
