
#navbar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  margin-left: 36px;
  margin-top: 40px;
}

#navbar-title{
  width: 155px;
  height: 25px;

  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;

  color: #C4C4C4;
}

#navbar-main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 432px;
  height: 53px;
  box-sizing: border-box;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}

#navbar-date {
  display: flex;
  width: 282px;
  height: 37px;
  color: #FFFFFF;
}